.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1);
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #4285f4;
      border: none;
      cursor: pointer;
      box-shadow: inset 0 0 0 1px rgba(66, 133, 244, 1);
    }
  }
}
